@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Barrio&family=Rubik+Microbe&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hydra{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
}

canvas {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: -1 !important; /* el canvas siempre va al fondo */
    pointer-events: none !important; /* evita bloquear clics */
}

.backbtn {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 20; /* por encima de todo */
    font-family: 'Barrio', cursive;
    font-size: 20px;
    color: rgb(154, 97, 70);

}

.backbtn a {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(201, 141, 107);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.backbtn a:hover {
    background-color: rgb(154, 97, 70);
    transform: scale(1.05);
}

.homebtn {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 20; /* por encima de todo */
    font-family: 'Barrio', cursive;
    font-size: 20px;
    color: rgb(154, 97, 70);

}

.homebtn a {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(201, 141, 107);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.homebtn a:hover {
    background-color: rgb(154, 97, 70);
    transform: scale(1.05);
}